@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: auto;
  background-color: white;
}

.centered {
  /* margin: 3rem auto; */
  /* text-align: center; */
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.border {
  border-style: solid;
  border-color: black;
}

.timeframe-btn {
  margin: 0 5px;
  border-radius: 40%;
  width: 35px;
  padding: 0;
}

.base-currency {
  background-color: lightgrey;
  font-weight: bold;
  padding: 0.2rem 0;
}

.fav-currency {
  font-size: 0.8rem;
}

li {
  border-radius: 10%;
}

.padding-3 {
  padding: 1rem 0 0 0;
}

.boxes {
  margin: 0.3rem 0;
  padding: 0.2rem 0.7rem;
}
